<h4>Translation registration</h4>

<div class="alert alert-danger" *ngIf="error">{{ error }}</div>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Language</label>
    <div class="col-sm-9">
      <select
        class="form-control"
        title="Languages"
        id="language-select"
        (change)="onLanguageChange($event)"
      >
        <option
          *ngFor="let lang of langs"
          [value]="lang.lang_id"
          [selected]="model.lang_id === lang.lang_id"
        >
          {{ lang.lang_code }} - {{ lang.lang_name }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label"
      >Translation key</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        formControlName="key"
        id="key"
        name="key"
        required
        placeholder="Translation key"
        autocomplete="off"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label"
      >Translation value</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        formControlName="value"
        id="value"
        name="value"
        required
        placeholder="Translation value"
        autocomplete="off"
      />
    </div>
  </div>

  <button
    class="add"
    mat-stroked-button
    color="basic"
    matTooltip="Back"
    [routerLink]="['/translation']"
  >
    <mat-icon>arrow_back</mat-icon> Back
  </button>
  <button
    class="add"
    mat-raised-button
    color="primary"
    matTooltip="Save"
    type="submit"
  >
    <mat-icon>save</mat-icon> Save
  </button>
</form>
