<h4>Language registration</h4>

<div class="alert alert-danger" *ngIf="error">{{ error }}</div>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label"
      >Language code</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        formControlName="lang_code"
        id="lang_code"
        name="lang_code"
        required
        autofocus
        placeholder="Language code"
        autocomplete="off"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label"
      >Language name</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        formControlName="lang_name"
        id="lang_name"
        name="lang_name"
        required
        placeholder="Language name"
        autocomplete="off"
      />
    </div>
  </div>

  <button
    class="add"
    mat-stroked-button
    color="basic"
    matTooltip="Back"
    [routerLink]="['/language']"
  >
    <mat-icon>arrow_back</mat-icon> Back
  </button>
  <button
    class="add"
    mat-raised-button
    color="primary"
    matTooltip="Save"
    type="submit"
  >
    <mat-icon>save</mat-icon> Save
  </button>
</form>
