<div>
  <ul class="flex space-x-2 rtl:space-x-reverse">
    <li>
      <a routerLink="/" class="text-primary hover:underline">Projects</a>
    </li>
    <li class="before:content-['/'] ltr:before:mr-2 rtl:before:ml-2">
      <span>Add</span>
    </li>
  </ul>
  <form class="space-y-5" [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <div class="flex pt-5 flex-col gap-2.5 xl:flex-row">
      <div class="panel flex-1 px-0 py-6 ltr:xl:mr-6 rtl:xl:ml-6">
        <div class="flex flex-wrap justify-between px-4">
          <div class="w-full">
            <div
              class="flex items-center"
              [ngClass]="
                isSubmit
                  ? form.controls['name'].errors
                    ? 'has-error'
                    : 'has-success'
                  : ''
              "
            >
              <label for="name" class="mb-0 flex-1 ltr:mr-2 rtl:ml-2"
                >Name *</label
              >
              <div class="w-2/3">
                <input
                  id="name"
                  type="text"
                  placeholder="Enter Name"
                  class="form-input"
                  formControlName="name"
                />
                <ng-container *ngIf="isSubmit && form.controls['name'].errors">
                  <p class="mt-1 text-danger">Please fill the name</p>
                </ng-container>
              </div>
            </div>

            <div class="mt-4 flex items-center">
              <label for="description" class="mb-0 flex-1 ltr:mr-2 rtl:ml-2"
                >Description</label
              >
              <div class="w-2/3">
                <input
                  id="description"
                  type="text"
                  placeholder="Enter Description"
                  class="form-input"
                  formControlName="description"
                />
              </div>
            </div>

            <div class="mt-4 flex items-center">
              <label class="mb-0 flex-1 ltr:mr-2 rtl:ml-2"> Languages </label>
              <div class="w-2/3">
                <ng-select
                  id="languages"
                  [items]="langs"
                  formControlName="languages"
                  bindLabel="name"
                  bindValue="code"
                  [multiple]="true"
                  [clearable]="false"
                  placeholder="Select an option"
                  class="custom-multiselect"
                >
                </ng-select>
              </div>
            </div>

            <div class="mt-4 flex items-center">
              <label class="mb-0 flex-1 ltr:mr-2 rtl:ml-2"> Users </label>
              <div class="w-2/3">
                <ng-select
                  id="users"
                  [items]="users"
                  formControlName="users"
                  bindLabel="username"
                  bindValue="user_id"
                  [multiple]="true"
                  [clearable]="false"
                  placeholder="Select an option"
                  class="custom-multiselect"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-6 border-[#e0e6ed] dark:border-[#1b2e4b]" />
        <div class="flex flex-wrap justify-between px-4">
          <button type="submit" class="btn btn-primary gap-2">
            <icon-save class="shrink-0 ltr:mr-2 rtl:ml-2" />
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
