<h4>Projects</h4>
<button
  class="add"
  mat-raised-button
  color="primary"
  matTooltip="Add"
  [routerLink]="['/project/edit']"
>
  <mat-icon>add</mat-icon> Add
</button>

<div class="alert alert-danger" *ngIf="error">{{ error }}</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Project name</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of list">
      <th scope="row">{{ model.project_id }}</th>
      <td>{{ model.project_name }}</td>
      <td>{{ model.description }}</td>
      <td>
        <button
          class="edit"
          mat-mini-fab
          color="basic"
          matTooltip="Edit"
          [routerLink]="['/project/edit/', model.project_id]"
        >
          <mat-icon>create</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="warn"
          matTooltip="Delete"
          (click)="delete(model.project_id ?? 0)"
        >
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
